<p>Hi User,</p>
<p>Email: <strong>{{data.email}}</strong></p>
<p>Confirmation Token: <strong>{{data.confirm_token}}</strong></p>
<p><a href="{{site.front_url}}/confirm/{{data.confirm_token}}">Click Here to Confirm</a></p>